@charset "UTF-8";
/* TRANSITION */
/* TRANSFORM */
/* ANIMATION */
/* SCROLLBAR */
/* ----------Extend---------- */
/*background*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
/* ----------RESET---------- */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  width: 100%;
  min-width: 320px;
  position: relative;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
  font-size: inherit;
}

img {
  border: none;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

input,
textarea,
keygen,
select,
a,
a:active,
a:hover,
a:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

input[type=search],
input[type=search]:hover,
input[type=search]:focus,
input[type=search]:active {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}

table {
  border-collapse: collapse;
}

/* ----------TEXT----------- */
html {
  font-size: 16px;
  color: #222222;
}

body {
  font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  background-color: #fff;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
a, p, b, small {
  font: inherit;
  color: inherit;
  font-weight: 300;
  line-height: normal;
  line-height: 1.4;
}

/* 84 */
h1, .h1 {
  font-size: 84px;
  line-height: 1.2;
}

/* 54 */
h2, .h2 {
  font-size: 54px;
}

/* 40 */
h3, .h3 {
  font-size: 40px;
}

/* 30 */
h4, .h4 {
  font-size: 30px;
}

/* 26 */
h5, .h5 {
  font-size: 26px;
}

/* 20 */
h6, .h6 {
  font-size: 20px;
}

/* 18 */
.p-18 {
  font-size: 18px;
}

/* 16 */
p, .p {
  font-size: 16px;
}

a {
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
}

/* 14 */
small, .small {
  font-size: 14px;
}

b, strong {
  font-weight: bolder;
}

.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.ls3 {
  letter-spacing: 3px;
}

.ls4 {
  letter-spacing: 4px;
}

.ls5 {
  letter-spacing: 5px;
}

.ls6 {
  letter-spacing: 6px;
}

.ls7 {
  letter-spacing: 7px;
}

.ls8 {
  letter-spacing: 8px;
}

.ls9 {
  letter-spacing: 9px;
}

.ls10 {
  letter-spacing: 10px;
}

.txt-white {
  color: #ffffff;
}

.txt-lightgrey {
  color: #A8A8A8;
}

.txt-grey {
  color: #7B7B7B;
}

.txt-normal {
  color: #4d4d4d;
}

.txt-darkgrey {
  color: #222222;
}

.txt-black {
  color: #000000;
}

.txt-prime {
  color: #E06A0F;
}

.txt-thin {
  font-weight: 100;
}

.txt-light {
  font-weight: 200;
}

.txt-regular {
  font-weight: 300;
}

.txt-medium {
  font-weight: 400;
}

.txt-bold {
  font-weight: 500;
}

.txt-highbold {
  font-weight: 600;
}

.txt-blackbold {
  font-weight: 700;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-style-i {
  font-style: italic;
}

.txt-link {
  text-decoration: underline;
}

.txt-line-through {
  text-decoration: line-through;
}

.txt-underline {
  text-decoration: underline;
}

/* ----------RWD----------------------- */
@media screen and (max-width: 1440px) {
  h2, .h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1366px) {
  h2, .h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1280px) {
  h1, .h1 {
    font-size: 68px;
  }
  h2, .h2 {
    font-size: 45px;
  }
  h3, .h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  h1, .h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 1023px) {
  h1, .h1 {
    font-size: 58px;
  }
  h2, .h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  h1, .h1 {
    font-size: 50px;
  }
  h2, .h2 {
    font-size: 34px;
  }
  h3, .h3 {
    font-size: 27px;
  }
  h5, .h5 {
    font-size: 20px;
  }
  h6, .h6 {
    font-size: 18px;
  }
  p, .p {
    font-size: 14px;
  }
  small, .small {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  h1, .h1 {
    font-size: 35px;
  }
  h2, .h2 {
    font-size: 30px;
  }
  h3, .h3 {
    font-size: 25px;
  }
  .p-18 {
    font-size: 16px;
  }
}
/* ----------BLOCK---------- */
.fleft {
  float: left;
}

.fright {
  float: right;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.w800,
.w900,
.w1000,
.w1200,
.w1300,
.w1400 {
  width: 80%;
  margin: 0 auto;
}

.w800 {
  max-width: 800px;
}

.w900 {
  max-width: 900px;
}

.w1000 {
  max-width: 1000px;
}

.w1200 {
  max-width: 1200px;
}

.w1300 {
  max-width: 1300px;
}

.w1400 {
  max-width: 1400px;
}

.col100,
.col90,
.col80,
.col75,
.col70,
.col66,
.col60,
.col50,
.col40,
.col33,
.col30,
.col25,
.col20,
.col15,
.col05 {
  display: inline-block;
  vertical-align: top;
}

.col100 {
  width: 100%;
}

.col90 {
  width: 90%;
}

.col80 {
  width: 80%;
}

.col75 {
  width: 75%;
}

.col70 {
  width: 70%;
}

.col66 {
  width: 66.6666%;
}

.col60 {
  width: 60%;
}

.col50 {
  width: 50%;
}

.col50:nth-child(odd) {
  margin-left: 0px;
}

.col40 {
  width: 40%;
}

.col30 {
  width: 30%;
}

.col33 {
  width: 33.3333%;
}

.col25 {
  width: 25%;
}

.col20 {
  width: 20%;
}

.col15 {
  width: 15%;
}

.col05 {
  width: 5%;
}

.ib-middle {
  display: inline-block;
  vertical-align: middle;
}

.ib-top {
  display: inline-block;
  vertical-align: top;
}

.main_padding {
  padding: 5vw 0;
}

.main_padding-b {
  padding-bottom: 5vw;
}

.main_padding-t {
  padding-top: 5vw;
}

.main_margin {
  margin: 5vw 0;
}

.main_margin-b {
  margin-bottom: 5vw;
}

.main_margin-t {
  margin-top: 5vw;
}

.header-top {
  position: relative;
}

.header-top::before {
  content: "";
  display: block;
  height: 78px;
  position: relative;
}

.m1023-off {
  display: block;
}

.m1023-on {
  display: none;
}

.m768-off {
  display: block;
}

.m768-on {
  display: none;
}

/* ----------RWD----------------------- */
@media screen and (max-width: 1023px) {
  .m1023-off {
    display: none;
  }
  .m1023-on {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .w800,
.w900,
.w1000,
.w1200,
.w1300,
.w1400 {
    width: 90%;
  }
  .m768-off {
    display: none;
  }
  .m768-on {
    display: block;
  }
  .main_padding {
    padding: 50px 0;
  }
  .main_padding-b {
    padding-bottom: 50px;
  }
  .main_padding-t {
    padding-top: 50px;
  }
  .main_margin {
    margin: 50px 0;
  }
  .main_margin-b {
    margin-bottom: 50px;
  }
  .main_margin-t {
    margin-top: 50px;
  }
}
/* ----------FORM----------- */
input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  width: 100%;
  margin: 7px 0px;
  padding: 7px 10px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  letter-spacing: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  padding-right: 30px;
  background-size: 10px;
  background: url("../img/icon/icon_down.svg") no-repeat calc(100% - 10px) center #F7F7F7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text].readonly,
input[type=email].readonly,
input[type=password].readonly,
textarea.readonly,
select.readonly {
  border: none;
  background-color: #E8E8E8;
}

label.select {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

label.select:before {
  content: "";
  display: block;
  width: 50px;
  height: 27px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  margin: auto 0;
  pointer-events: none;
}

label.select:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #003979 transparent transparent transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
  pointer-events: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ccc;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

/*radio&checkbox樣式覆蓋*/
input[type=radio]:not(old),
input[type=checkbox]:not(old) {
  width: 0;
  margin: 0;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
}

input[type=radio]:not(old) + label,
input[type=checkbox]:not(old) + label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin: 7px 0px;
  margin-right: 10px;
  cursor: pointer;
  letter-spacing: 0;
}

input[type=radio]:not(old) + label > span,
input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 3px 8px 3px 5px;
  position: relative;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #e8e8e8;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

input[type=checkbox]:not(old) + label > span {
  border-radius: 0;
}

input[type=radio]:not(old):checked + label > span:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #FC8D04;
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #FC8D04;
}

/* ----------ANIMATION------ */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes showContent {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes showContent {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInFromDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInFromDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes repeatOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes repeatOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.repeat-opacity {
  -webkit-animation: repeatOpacity 3s linear infinite;
          animation: repeatOpacity 3s linear infinite;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(104, 190, 152, 0.2);
  z-index: 10;
  background-color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 100;
}
header + section {
  margin-top: 62px;
}
header .w1400 {
  width: 90%;
}
header .inner {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
header .inner .logo_outer {
  padding-right: 20px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .inner .logo_outer .logo {
  width: 180px;
}
header .inner nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .inner nav .main_item {
  margin-left: 12px;
  padding: 8px 10px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
header .inner nav .main_item.active {
  color: #E06A0F;
}
header .inner nav .main_item.active:after {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  header .inner nav .main_item:hover {
    color: #E06A0F;
  }
  header .inner nav .main_item:hover:after {
    opacity: 1;
  }
}
header .inner nav .main_item:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #E06A0F;
  position: absolute;
  bottom: -11px;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  header {
    top: auto;
    bottom: 0;
  }
  header + section {
    margin-top: 0;
  }
  header .w1400 {
    width: 100%;
  }
  header .inner {
    padding: 5px 0;
  }
  header .inner .logo_outer {
    display: none;
  }
  header .inner nav {
    width: 100%;
  }
  header .inner nav .main_item {
    width: 25%;
    margin: 0;
    text-align: center;
    font-size: 14px;
  }
  header .inner nav .main_item:after {
    content: "";
    bottom: -6px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 50px;
  }
}

#painting {
  padding: 50px 0;
  background-color: #F5F5F5;
  position: relative;
}
#painting #btn-change_space {
  padding: 10px;
  padding-right: 50px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background-color: #7B7B7B;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 10%;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 10;
}
#painting #btn-change_space:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
#painting #btn-change_space img {
  width: 35px;
  margin-right: 10px;
}
#painting .inner {
  width: 90%;
}
#painting .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#painting .top .title {
  width: 60%;
}
#painting .top .classification {
  width: calc(40% - 30px);
  min-width: 485px;
  margin-left: 30px;
}
#painting .top .classification button {
  width: 40%;
  max-width: 165px;
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
  color: #7B7B7B;
}
#painting .top .classification button.active {
  color: #222;
}
#painting #main_feature {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#painting #main_feature #canvas_outer {
  width: 60%;
  position: relative;
}
#painting #main_feature #canvas_outer #hintbox {
  width: 90%;
  max-width: 650px;
  padding: 30px 10px;
  border: 1px solid #E06A0F;
  color: #E06A0F;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fadein 0.3s;
          animation: fadein 0.3s;
}
#painting #main_feature #canvas_outer #hintbox .close {
  width: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  cursor: pointer;
}
#painting #main_feature #canvas_outer #hintbox .close:hover {
  -webkit-transform: translate(50%, -50%) scale(1.1);
      -ms-transform: translate(50%, -50%) scale(1.1);
          transform: translate(50%, -50%) scale(1.1);
}
#painting #main_feature #canvas_outer .color_card {
  width: 12%;
  max-width: 100px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  cursor: pointer;
}
#painting #main_feature #canvas_outer .color_card:hover .add {
  -webkit-transform: translate(50%, 50%) scale(1.2);
      -ms-transform: translate(50%, 50%) scale(1.2);
          transform: translate(50%, 50%) scale(1.2);
}
#painting #main_feature #canvas_outer .color_card.active {
  border: 2px solid #E06A0F;
}
#painting #main_feature #canvas_outer .color_card figure {
  width: 100%;
  padding-bottom: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
#painting #main_feature #canvas_outer .color_card figure img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#painting #main_feature #canvas_outer .color_card figure .color_preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#painting #main_feature #canvas_outer .color_card p {
  padding: 5px 0;
}
#painting #main_feature #canvas_outer .color_card .add {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#painting #main_feature #canvas_outer canvas {
  max-width: 100%;
  background: #e7e7e7;
}
#painting #main_feature #color_menu {
  width: calc(40% - 30px);
  min-width: 485px;
  margin-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#painting #main_feature #color_menu .title_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#painting #main_feature #color_menu .title_block h6 {
  margin-bottom: 10px;
  padding-right: 10px;
}
#painting #main_feature #color_menu .title_block h6 .step_block {
  min-height: 38px;
  margin-right: 10px;
  padding: 5px 15px;
  background-color: #E06A0F;
  display: inline-block;
}
#painting #main_feature #color_menu .title_block button {
  width: 127px;
  min-height: 38px;
  margin-bottom: 10px;
  padding: 7px 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#painting #main_feature #color_menu .title_block button img {
  width: 22px;
  margin-right: 5px;
  display: inline-block;
}
#painting #main_feature #color_menu .color_options {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#painting #main_feature #color_menu .color_options .form_col {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#painting #main_feature #color_menu .color_options .form_col > p {
  width: 140px;
  padding: 10px 5px;
  color: #7B7B7B;
}
#painting #main_feature #color_menu .color_options .form_col .form_item {
  width: calc(100% - 140px);
}
#painting #main_feature #color_menu .color_options .form_col .search_box {
  width: 100%;
  position: relative;
  border: 1px solid #222;
}
#painting #main_feature #color_menu .color_options .form_col .search_box input {
  margin: 0;
  width: calc(100% - 30px);
}
#painting #main_feature #color_menu .color_options .form_col .search_box #search_btn {
  width: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
#painting #main_feature #color_menu .color_options .form_col .brand_box {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#painting #main_feature #color_menu .color_options .form_col .brand_box input[type=checkbox]:not(old):checked + label {
  border: 1px solid #E06A0F;
  color: #E06A0F;
}
#painting #main_feature #color_menu .color_options .form_col .brand_box label {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  margin: 0 5px;
  padding: 7px 3px;
  text-align: center;
  display: block;
  border: 1px solid #222;
}
#painting #main_feature #color_menu .color_options .color_itembox {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
}
#painting #main_feature #color_menu .color_options .color_itembox .colors {
  width: calc(100% + 10px);
  max-height: calc(100% + 10px);
  margin: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#painting #main_feature #color_menu .color_options .color_itembox .colors .color {
  width: calc(25% - 10px);
  margin: 5px;
  padding-bottom: 18%;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}
#painting #main_feature #color_menu .color_options .color_itembox .colors .color small {
  max-width: calc(100% - 28px);
  padding: 5px;
  display: inline-block;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
#painting #main_feature #color_menu .color_options .color_itembox .colors .color .change_color {
  width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  transition: 0.2s;
}
#painting #main_feature #color_menu .color_options .color_itembox .colors .color .change_color:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#painting #main_feature #color_menu .color_options .color_itembox .colors .color .toggle_fav {
  padding: 5px;
  position: absolute;
  color: #707070;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  right: 5px;
  bottom: 5px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#painting #main_feature #color_menu .color_options .color_itembox .colors .color .toggle_fav:hover {
  color: #E06A0F;
}
@media screen and (max-width: 1280px) {
  #painting .top .classification {
    min-width: 428px;
  }
  #painting #main_feature #canvas_outer .color_card p {
    font-size: 14px;
  }
  #painting #main_feature #color_menu {
    min-width: 428px;
  }
  #painting #main_feature #color_menu .title_block h6 {
    font-size: 16px;
  }
  #painting #main_feature #color_menu .title_block h6 .step_block {
    min-height: 32px;
  }
  #painting #main_feature #color_menu .title_block button {
    min-height: 32px;
  }
  #painting #main_feature #color_menu .title_block button p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1150px) {
  #painting #btn-change_space {
    padding: 7px;
    padding-right: 50px;
  }
  #painting #btn-change_space h6 {
    font-size: 16px;
  }
  #painting #btn-change_space img {
    width: 28px;
    margin-right: 8px;
  }
  #painting .top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #painting .top .title {
    width: 100%;
  }
  #painting .top .classification {
    width: 100%;
    min-width: auto;
    margin-top: 10px;
    margin-left: 0;
  }
  #painting .top .classification button {
    width: 30%;
    min-width: 110px;
  }
  #painting #main_feature {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #painting #main_feature #canvas_outer {
    width: 100%;
  }
  #painting #main_feature #canvas_outer canvas {
    width: 100%;
  }
  #painting #main_feature #color_menu {
    width: 100%;
    min-width: auto;
    min-height: 90vw;
    margin-top: 30px;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  #painting #main_feature #canvas_outer .color_card {
    min-width: 58px;
  }
  #painting #main_feature #canvas_outer .color_card p {
    font-size: 12px;
  }
  #painting #main_feature #color_menu {
    min-height: 135vw;
  }
  #painting #main_feature #color_menu .title_block h6 .step_block {
    padding: 5px 10px;
  }
  #painting #main_feature #color_menu .color_options .color_itembox .colors {
    width: calc(100% + 6px);
    max-height: calc(100% + 6px);
    margin: -3px;
  }
  #painting #main_feature #color_menu .color_options .color_itembox .colors .color {
    width: calc(25% - 6px);
    margin: 3px;
  }
}
@media screen and (max-width: 460px) {
  #painting #main_feature #color_menu .title_block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #painting #main_feature #color_menu .title_block h6 {
    width: 100%;
  }
  #painting #main_feature #color_menu .title_block button {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#place_lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 20;
}
#place_lightbox.active {
  display: block;
}
#place_lightbox .cover {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
}
#place_lightbox .box {
  width: 90%;
  max-width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#place_lightbox .box .title {
  padding: 10px 0;
  border-bottom: 1px solid #222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#place_lightbox .box .title .close {
  width: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
#place_lightbox .box .title .close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#place_lightbox .box .box_inner {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#place_lightbox .box .box_inner .room_class {
  width: 120px;
}
#place_lightbox .box .box_inner .room_class button {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #222;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#place_lightbox .box .box_inner .room_class button:hover, #place_lightbox .box .box_inner .room_class button.active {
  opacity: 1;
}
#place_lightbox .box .box_inner .room_preview {
  width: calc(100% - 120px);
  padding-left: 20px;
}
#place_lightbox .box .box_inner .room_preview .swiper_outer {
  width: 100%;
  background-color: #000;
}
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper {
  width: 100%;
}
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper-button-next,
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper-button-prev {
  width: 45px;
}
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper-button-next::after,
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper-button-prev::after {
  display: none;
}
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper-button-next img,
#place_lightbox .box .box_inner .room_preview .swiper_outer .swiper-button-prev img {
  width: 100%;
}
#place_lightbox .box .box_inner .room_preview .room_pic {
  width: 100%;
  padding-bottom: 73.2%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
#place_lightbox .box .box_inner .room_preview button {
  width: 100%;
  max-width: 380px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: auto;
  padding: 10px;
  border: 1px solid #222;
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#place_lightbox .box .box_inner .room_preview button:hover {
  border: 1px solid #E06A0F;
  color: #E06A0F;
}
@media screen and (max-width: 600px) {
  #place_lightbox .box .box_inner .room_class {
    width: 80px;
  }
  #place_lightbox .box .box_inner .room_class button {
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  #place_lightbox .box .box_inner .room_preview {
    width: calc(100% - 80px);
    padding-left: 10px;
  }
  #place_lightbox .box .box_inner .room_preview button {
    margin-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */