// helper
@import 'helper/_variable.scss';

#canvas_outer{
  width: 100%;
  canvas{
    max-width: 100%;
  }
}
.colors{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  .color{
    width: 100px;
    height: 60px;
    border-radius: 2px;
  }
}