// helper
@import '../helper/_variable.scss';

#painting{
  padding: 50px 0;
  background-color: #F5F5F5;
  position: relative;
  #btn-change_space{
    padding: 10px;
    padding-right: 50px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: #7B7B7B;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: fixed;
    top: 10%;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateX(30px);
    transition: .2s;
    z-index: 10;
    &:hover{
      transform: translateX(10px);
    }
    img{
      width: 35px;
      margin-right: 10px;
    }
  }
  .inner{
    width: 90%;
  }
  .top{
    display: flex;
    align-items: flex-end;
    .title{
      width: 60%;
    }
    .classification{
      width: calc(40% - 30px);
      min-width: 485px;
      margin-left: 30px;
      button{
        width: 40%;
        max-width: 165px;
        margin-right: 10px;
        padding: 10px;
        background-color: #fff;
        color: #7B7B7B;
        &.active{
          color: #222;
        }
      }
    }
  }
  #main_feature{
    padding-top: 30px;
    display: flex;
    align-items: stretch;
    #canvas_outer{
      width: 60%;
      position: relative;
      #hintbox{
        width: 90%;
        max-width: 650px;
        padding: 30px 10px;
        border: 1px solid $color-prime;
        color: $color-prime;
        background-color: #fff;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        animation: fadein .3s;
        .close{
          width: 40px;
          transition: .2s;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
          cursor: pointer;
          &:hover{
            transform: translate(50%, -50%) scale(1.1);
          }
        }
      }
      .color_card{
        width: 12%;
        max-width: 100px;
        padding: 2px;
        background-color: rgba(#fff, .7);
        border: 2px solid rgba(0, 0, 0, 0);
        user-select: none;
        position: absolute;
        cursor: pointer;
        &:hover{
          .add{
            transform: translate(50%, 50%) scale(1.2);
          }
        }
        &.active{
          border: 2px solid $color-prime;
        }
        figure{
          width: 100%;
          padding-bottom: 100%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          img{
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .color_preview{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        p{
          padding: 5px 0;
        }
        .add{
          width: 30%;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(50%, 50%);
          transition: .2s;
        }
      }
      canvas{
        max-width: 100%;
        background: #e7e7e7;
      }
    }
    #color_menu{
      width: calc(40% - 30px);
      min-width: 485px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      .title_block{
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        h6{
          margin-bottom: 10px;
          padding-right: 10px;
          .step_block{
            min-height: 38px;
            margin-right: 10px;
            padding: 5px 15px;
            background-color: $color-prime;
            display: inline-block;
          }
        }
        button{
          width: 127px;
          min-height: 38px;
          margin-bottom: 10px;
          padding: 7px 10px;
          background-color: #fff;
          display: flex;
          align-items: center;
          img{
            width: 22px;
            margin-right: 5px;
            display: inline-block;
          }
        }
      }
      .color_options{
        flex: 1;
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        .form_col{
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          >p{
            width: 140px;
            padding: 10px 5px;
            color: #7B7B7B;
          }
          .form_item{
            width: calc(100% - 140px);
          }
          .search_box{
            width: 100%;
            position: relative;
            border: 1px solid #222;
            input{
              margin: 0;
              width: calc(100% - 30px);
            }
            #search_btn{
              width: 20px;
              position: absolute;
              top: 50%;
              right: 10px;
              transform: translateY(-50%);
              cursor: pointer;
              z-index: 1;
            }
          }
          .brand_box{
            margin: 0 -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            input[type=checkbox]:not(old):checked + label{
              border: 1px solid $color-prime;
              color: $color-prime;
            }
            label{
              flex: auto;
              margin: 0 5px;
              padding: 7px 3px;
              text-align: center;
              display: block;
              border: 1px solid #222;
            }
          }
        }
        .color_itembox{
          flex: 1;
          position: relative;
          overflow: hidden;
          .colors{
            width: calc(100% + 10px);
            max-height: calc(100% + 10px);
            margin: -5px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: auto;
            position: absolute;
            top: 0;
            left: 0;
            .color{
              width: calc(25% - 10px);
              margin: 5px;
              padding-bottom: 18%;
              border-radius: 2px;
              position: relative;
              cursor: pointer;
              small{
                max-width: calc(100% - 28px);
                padding: 5px;
                display: inline-block;
                text-shadow: 0 0 8px rgba(0,0,0,.5);
                position: absolute;
                top: 0;
                left: 0;
              }
              .change_color{
                width: 25px;
                position: absolute;
                top: 5px;
                right: 5px;
                transition: .2s;
                cursor: pointer;
                transition: .2s;
                &:hover{
                  transform: scale(1.1);
                }
              }
              .toggle_fav{
                padding: 5px;
                position: absolute;
                color: #707070;
                background-color: #fff;
                box-shadow: 1px 1px 5px rgba(0,0,0,.2);
                display: inline-block;
                right: 5px;
                bottom: 5px;
                line-height: 1;
                cursor: pointer;
                transition: .2s;
                &:hover{
                  color: $color-prime;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1280px){
    .top{
      .classification{
        min-width: 428px;
      }
    }
    #main_feature{
      #canvas_outer{
        .color_card{
          p{
            font-size: 14px;
          }
        }
      }
      #color_menu{
        min-width: 428px;
        .title_block{
          h6{
            font-size: 16px;
            .step_block{
              min-height: 32px;
            }
          }
          button{
            min-height: 32px;
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1150px){
    #btn-change_space{
      padding: 7px;
      padding-right: 50px;
      h6{
        font-size: 16px;
      }
      img{
        width: 28px;
        margin-right: 8px;
      }
    }
    .top{
      flex-wrap: wrap;
      .title{
        width: 100%;
      }
      .classification{
        width: 100%;
        min-width: auto;
        margin-top: 10px;
        margin-left: 0;
        button{
          width: 30%;
          min-width: 110px;
        }
      }
    }
    #main_feature{
      flex-wrap: wrap;
      #canvas_outer{
        width: 100%;
        canvas{
          width: 100%;
        }
      }
      #color_menu{
        width: 100%;
        min-width: auto;
        min-height: 90vw;
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 600px){
    #main_feature{
      #canvas_outer{
        .color_card{
          min-width: 58px;
          p{
            font-size: 12px;
          } 
        }
      }
      #color_menu{
        min-height: 135vw;
        .title_block{
          h6{
            .step_block{
              padding: 5px 10px;
            }
          }
        }
        .color_options{
          .color_itembox{
            .colors{
              width: calc(100% + 6px);
              max-height: calc(100% + 6px);
              margin: -3px;
              .color{
                width: calc(25% - 6px);
                margin: 3px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 460px){
    #main_feature{
      #color_menu{
        .title_block{
          flex-wrap: wrap;
          h6{
            width: 100%;
          }
          button{
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

#place_lightbox{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 20;
  &.active{
    display: block;
  }
  .cover{
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(#fff, .9);
    position: absolute;
    top: 0;
    left: 0;
  }
  .box{
    width: 90%;
    max-width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .title{
      padding: 10px 0;
      border-bottom: 1px solid #222;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .close{
        width: 40px;
        transition: .2s;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .box_inner{
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      .room_class{
        width: 120px;
        button{
          width: 100%;
          padding: 15px;
          margin-bottom: 10px;
          border: 1px solid #222;
          // background-color: #fff;
          opacity: .5;
          transition: .2s;
          &:hover,
          &.active{
            opacity: 1;
          }
        }
      }
      .room_preview{
        width: calc(100% - 120px);
        padding-left: 20px;
        .swiper_outer{
          width: 100%;
          background-color: #000;
          .swiper{
            width: 100%;
          }
          .swiper-button-next,
          .swiper-button-prev{
            width: 45px;
            &::after{
              display: none;
            }
            img{
              width: 100%;
            }
          }
        }
        .room_pic{
          width: 100%;
          padding-bottom: 73.2%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0.8;
        }
        button{
          width: 100%;
          max-width: 380px;
          margin-top: 20px;
          margin-right: 0;
          margin-left: auto;
          padding: 10px;
          border: 1px solid #222;
          display: block;
          transition: .2s;
          &:hover{
            border: 1px solid $color-prime;
            color: $color-prime;
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px){
    .box{
      .box_inner{
        .room_class{
          width: 80px;
          button{
            padding: 5px 10px;
            margin-bottom: 5px;
          }
        }
        .room_preview{
          width: calc(100% - 80px);
          padding-left: 10px;
          button{
            margin-top: 10px;
          }
        }
      }
    }
  }
}
