$color-black: #000000;
$color-dark: #222222;
$color-dark-grey: #7B7B7B;
$color-grey:#8e8e8e;
$color-light-grey: #a8a8a8;
$color-pale-grey: #e7e7e7;
$color-light: #f5f5f5;
$color-white: #ffffff;

$color-prime:#E06A0F;

$font-set:  'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;