$color-black: #000000;
$color-dark: #2C353E;
$color-dark-grey: #707070;
$color-grey:#8e8e8e;
$color-light-grey: #a8a8a8;
$color-pale-grey: #e7e7e7;
$color-light: #f5f5f5;
$color-white: #ffffff;

$color-prime:#42C195;
$color-darker_prime: #046262;

$color-greenlake:#4DADA7;
$color-lightblue:#1FBCD6;
$color-blue:#005BAC;

$color-yellow:#F9C61A;
$color-orange:#FC8D04;
$color-orange2:#EA6C3C;
$color-redorange: #FF5800;







$font-set:  'GenJyuuGothic', 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
$font-set-for_input:  'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
// $font-title:'Roboto', sans-serif;
// $font-content: 'Roboto', 'Noto Sans TC', sans-serif;
// $font-special: 'Noto Sans TC', sans-serif;
// $font-small: "微軟正黑體", "Roboto", "Noto Sans TC", sans-serif;